.login_input {
    clear: none;
    float: left;
    margin: 0 6px 0 0;
}

#header {
    background-color: #6D9803;
    background-clip: border-box;    
    height: 60px;
    position: relative;
}

#loginWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#title {
    font-size: 1.8em;
    font-weight: bold;
    padding: 0 0 0px 10px;
    color: white;
}
  
.logo-img {
    width: 30px;
    height: 30px;
    padding: 10 0 0 10px;
    vertical-align: middle;
}

#selectlabel{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 0 200px;
    box-sizing: border-box;  
}

#loginWrapper input, #loginWrapper button {
    padding: 0.2rem 0.4rem 0.3rem;
    vertical-align: middle;
    border: none;
}		
  
#loginWrapper select {
    position: relative;
    width: 130px;
    height: 22px;
    padding: 10px;
    margin: 0 auto;
    outline: none;
    padding: 0.1rem 0.5rem 0.1rem;
    vertical-align: middle;
}

#message-bar {
    padding: 0 20px 0 50px;
}